<!-- Begin page content -->
<form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
    <main class="flex-shrink-0 main has-footer">
        <!-- Fixed navbar -->
        <!-- <header class="header">
            <div class="row">
                <div class="col-auto px-0">
                    <button class="menu-btn btn btn-40 btn-link back-btn" type="button">
                <span class="material-icons">keyboard_arrow_left</span>
            </button>
                </div>
                <div class="text-left col align-self-center">

                </div>
                <div class="ml-auto col-auto align-self-center">
                    <a href="signup.html" class="text-white">
                Sign up
            </a>
                </div>
            </div>
        </header> -->


        <div class="container h-100 text-white">
            <div class="row h-100">
                <div class="col-12 align-self-center mb-4">
                    <div class="row justify-content-center">
                        <div class="col-11 col-sm-7 col-md-6 col-lg-5 col-xl-4" style="margin-top: 60px;">
                            <h2 class="font-weight-normal mb-3" style="color: white;">Forgot<br>your password?</h2>
                            <p class="mb-5">Provide your registered email address to change password.</p>
                            <div class="az-form-group mt-3">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control nzErrorTip="Please enter valid email!">
                                        <label class="form-label" style="font-weight: 600; color: white;">Email</label>
                                        <input style="background-color: #3629b7; color: white;" formControlName="email" nz-input placeholder="Email" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <p class="text-right"><a routerLink="/login" class="text-white">Click here to login?</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <!-- footer-->
    <div class="footer no-bg-shadow py-3">
        <div class="row justify-content-center">
            <div class="col">
                <button nz-button nzBlock type="submit" nzType="primary" [disabled]="!forgetPasswordForm.valid" [nzLoading]="isLoadingBtn" style="border-top-left-radius: 50px; border-top-right-radius: 50px; border-bottom-left-radius: 50px; border-bottom-right-radius: 50px;">Reset Password</button>
            </div>
        </div>
    </div>
</form>
