<form [formGroup]="twoFactorForm">
    <main class="flex-shrink-0 main has-footer">
        <!-- Fixed navbar -->
        <!-- <header class="header">
        <div class="row">
            <div class="col-auto px-0">
                <button class="menu-btn btn btn-40 btn-link back-btn" type="button">
            <span class="material-icons">keyboard_arrow_left</span>
        </button>
            </div>
            <div class="text-left col align-self-center">

            </div>
            <div class="ml-auto col-auto align-self-center">
                <a href="signup.html" class="text-white">
            Sign up
        </a>
            </div>
        </div>
    </header> -->


        <div class="container h-100 text-white">
            <div class="row h-100">
                <div class="col-12 align-self-center mb-4">
                    <div class="row justify-content-center">
                        <div class="col-11 col-sm-7 col-md-6 col-lg-5 col-xl-4" style="margin-top: 70px;">
                            <h2 class="font-weight-normal mb-5" style="color: white;">Please <br>enter your token</h2>
                            <div class="form-group float-label active">
                                <div class="row">
                                    <div class="col-3 col-md-3">
                                        <input type="text" maxlength="2" formControlName="token1" class="form-control text-white text-center" placeholder="- -">
                                    </div>
                                    <div class=" col-3 col-md-3">
                                        <input type="text" maxlength="2" formControlName="token2" class="form-control text-white text-center" placeholder="- -">
                                    </div>
                                    <div class=" col-3 col-md-3">
                                        <input type="text" maxlength="2" formControlName="token3" class="form-control text-white text-center" placeholder="- -">
                                    </div>
                                    <div class="col-3 col-md-3">
                                        <input type="text" maxlength="2" formControlName="token4" class="form-control text-white text-center" placeholder="- -">
                                    </div>
                                </div>
                                <label class="form-control-label text-white">Token</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <!-- footer-->
    <div class="footer no-bg-shadow py-3">
        <div class="row justify-content-center">
            <div class="col">
                <button nz-button nzBlock type="submit" nzType="primary" [disabled]="twoFactorForm.value.token4 === ''" (click)="onSubmitTwoFactor()" [nzLoading]="isLoadingBtn" style="border-top-left-radius: 50px; border-top-right-radius: 50px; border-bottom-left-radius: 50px; border-bottom-right-radius: 50px;">Login</button>
            </div>
        </div>
    </div>
</form>
