<div class="main-container">
    <div class="container">
        <h5 class="text-center mt-3 mb-2" *ngIf="selectTo">
            Fund Wallet !!!
        </h5>
        <p class="text-center mb-4" *ngIf="selectTo">Fund your wallet or account</p>

        <form [formGroup]="fundWalletForm">
            <div class="row" *ngIf="selectTo">
                <div class="col-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h6 class="subtitle mb-0">
                                <div class="avatar avatar-40 bg-primary-light text-primary rounded"><span class="material-icons vm">account_balance_wallet</span></div>
                                Fund wallet with card
                            </h6>
                            <div class="col-12 col-md-12">
                                <div class="az-form-group mt-3">
                                    <nz-form-item style="margin-bottom: 9px !important;">
                                        <nz-form-control nzErrorTip="Please input  value!">
                                            <label class="form-label" style="font-weight: 600; color: darkslategray;">Select Card</label>
                                            <nz-select style="width: 100%;" (ngModelChange)="getCardById()" formControlName="cardId" nzShowSearch nzAllowClear nzPlaceHolder="Select Card">
                                                <nz-option *ngFor="let list of allCardList" [nzValue]="list.cardId" [nzLabel]="list.cardScheme + ' - ' + list.bankName + ' - ' + list.nameOnCard"></nz-option>
                                                <nz-option nzValue="oneOff" nzLabel="Enter Card Details"></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h6 class="subtitle mb-0">
                                <div class="avatar avatar-40 bg-primary-light text-primary rounded"><span class="material-icons vm">account_balance</span></div>
                                Fund wallet with account
                            </h6>
                            <div class="col-12 col-md-12">
                                <div class="az-form-group mt-3">
                                    <nz-form-item style="margin-bottom: 9px !important;">
                                        <nz-form-control nzErrorTip="Please input  value!">
                                            <label class="form-label" style="font-weight: 600; color: darkslategray;">Select Account</label>
                                            <nz-select style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="Select Account">
                                                <nz-option *ngFor="let list of allBankBeneficiaryList" [nzValue]="list.wallet_id" [nzLabel]="list.beneficiary_name"></nz-option>
                                                <!-- <nz-option nzValue="jack" nzLabel="Jack"></nz-option> -->
                                            </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>


        <!-- For Wallet Funding -->
        <form [formGroup]="fundWalletForm">
            <div class="card mb-4" *ngIf="walletFormPage">
                <div class="card-header">
                    <h6 class="subtitle mb-0">
                        <div class="avatar avatar-40 bg-primary-light text-primary rounded"><span class="material-icons vm">account_balance_wallet</span></div>
                        Fund wallet with card
                    </h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="az-form-group">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control>
                                        <label class="form-label">Wallet No</label>
                                        <input type="number" [(ngModel)]="userWalletNo" formControlName="walletAccountNumber" nz-input placeholder="Wallet Name" readonly />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="az-form-group mt-3">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control>
                                        <label class="form-label">Amount</label>
                                        <input type="number" formControlName="transactionAmount" nz-input placeholder="Amount" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="az-form-group mt-3">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control>
                                        <label class="form-label">Narration</label>
                                        <input type="text" formControlName="narration" nz-input placeholder="Narration" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="az-form-group mt-3">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control>
                                        <label class="form-label">Transaction Reference</label>
                                        <input type="text" [(ngModel)]="reference" formControlName="transactionReference" nz-input placeholder="Narration" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button nz-button nzBlock nzType="primary" [disabled]="fundWalletForm.value.transactionAmount === ''" (click)="fundWalletCheck()" [nzLoading]="isLoadingBtn" style="border-top-left-radius: 50px; border-top-right-radius: 50px; border-bottom-left-radius: 50px; border-bottom-right-radius: 50px;">Fund Wallet</button>
                </div>
            </div>
        </form>

        <!-- For Entering Card Details Funding -->
        <form [formGroup]="fundWalletForm">
            <div class="card mb-4" *ngIf="cardDetailsWalletFo">
                <div class="card-header">
                    <h6 class="subtitle mb-0">
                        <div class="avatar avatar-40 bg-primary-light text-primary rounded"><span class="material-icons vm">account_balance_wallet</span></div>
                        Enter Card Details
                    </h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 col-md-6">
                            <div class="az-form-group">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control>
                                        <label class="form-label">Wallet Number</label>
                                        <input type="text" [(ngModel)]="userWalletNo" formControlName="walletAccountNumber" nz-input placeholder="Wallet Number" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div class="col-6 col-md-6">
                            <div class="az-form-group">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control>
                                        <label class="form-label">Amount</label>
                                        <input type="number" formControlName="amount" nz-input placeholder="Enter Amount" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="az-form-group mt-2">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control>
                                        <label class="form-label">Card Number</label>
                                        <input type="text" formControlName="pan" nz-input placeholder="Card Number" (input)="gettingType()" />
                                        <p class="form-text text-secondary text-right" style="font-weight: 600; color: orangered !important;">{{ cardTypeText }}</p>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="az-form-group mt-2">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control>
                                        <label class="form-label">Card Holders Name</label>
                                        <input type="text" formControlName="cardHolder" nz-input placeholder="Card Holders Name" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6">
                            <div class="az-form-group mt-2">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control>
                                        <label class="form-label" style="font-weight: 600; color: darkslategray;">Expiry Month</label>
                                        <nz-select style="width: 100%;" formControlName="expiryMonth" nzShowSearch nzAllowClear nzPlaceHolder="Select Month">
                                            <nz-option *ngFor="let list of monthArray" [nzValue]="list.value" [nzLabel]="list.name"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div class="col-6 col-md-6">
                            <div class="az-form-group mt-2">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control>
                                        <label class="form-label" style="font-weight: 600; color: darkslategray;">Expiry Year</label>
                                        <nz-select style="width: 100%;" formControlName="expiryYear" nzShowSearch nzAllowClear nzPlaceHolder="Select Year">
                                            <nz-option *ngFor="let list of yearArray" [nzValue]="list.value" [nzLabel]="list.name"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6">
                            <div class="az-form-group mt-2">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control>
                                        <label class="form-label">CVV</label>
                                        <input type="text" maxlength="3" formControlName="cvv" nz-input placeholder="Enter CVV" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div class="col-6 col-md-6">
                            <div class="az-form-group mt-2">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control>
                                        <label class="form-label">Card Pin</label>
                                        <input type="text" maxlength="4" formControlName="pin" nz-input placeholder="Enter PIN" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="az-form-group mt-2">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control>
                                        <label class="form-label">Narration</label>
                                        <input type="text" formControlName="narration" nz-input placeholder="Narration" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="az-form-group mt-2">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control>
                                        <label class="form-label">Transaction Reference</label>
                                        <input type="text" [(ngModel)]="reference" formControlName="transactionReference" nz-input placeholder="Transaction Reference" readonly />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="card-footer">
                    <button nz-button nzBlock nzType="primary" [disabled]="fundWalletForm.value.pin === ''" (click)="submitWithNewCard()" [nzLoading]="isLoadingBtn" style="border-top-left-radius: 50px; border-top-right-radius: 50px; border-bottom-left-radius: 50px; border-bottom-right-radius: 50px;">Fund Wallet</button>
                </div>
            </div>
        </form>


        <!-- Success Message -->
        <div class="row h-100" *ngIf="successMessage">
            <div class="col-12 col-md-6 col-lg-4 align-self-center text-center mx-auto" style="margin-top: 50px; margin-bottom: 50px;">
                <div class="icon icon-120 bg-success-light text-success rounded-circle mb-3">
                    <i class="material-icons display-4">check_circle</i>
                </div>
                <h2>Account Funded !!</h2>
                <h6 class="text-secondary mb-3">Account {{ userWalletNo }} as been funded successfully</h6>
                <!-- <p class="text-secondary"><b>Trx Reference:</b>
                    <badge class="badge-success ml-2 pl-1 pr-1" style="border-radius: 5px;">{{ successReference }}</badge>
                </p> -->
                <a href="app/fund-wallet"><button class="btn btn-success" >Make another transfer</button></a>
            </div>
        </div>

        <!-- error Message -->
        <div class="row h-100" *ngIf="errorMessage">
            <div class="col-12 col-md-6 col-lg-4 align-self-center text-center mx-auto" style="margin-top: 50px; margin-bottom: 50px;">
                <div class="icon icon-120 bg-danger-light text-danger rounded-circle mb-3">
                    <i class="material-icons display-4">close</i>
                </div>
                <h2>Failed !!</h2>
                <h6 class="text-secondary mb-3">Message:
                    <badge class="badge-danger ml-2 pl-1 pr-1" style="border-radius: 5px;">{{ errorToDisplay }}</badge>
                </h6>
                <a href="app/fund-wallet"><button class="btn btn-primary" >Try Again</button></a>
            </div>
        </div>

    </div>
</div>


<!-- footer-->
<app-footer></app-footer>

<!--  Password Modal-->
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
    <ng-template #modalTitle>Enter Transaction Password</ng-template>

    <ng-template #modalContent>
        <form [formGroup]="fundWalletForm">
            <div class="modal-content">
                <div class="col-12">
                    <div class="form-group float-label active">
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <input type="password" formControlName="transactionPassword" class="form-control mt-4 mb-2" placeholder="Enter Your Password">
                            </div>
                        </div>
                        <label class="form-control-label mt-4 mb-2">Transaction Password</label>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="fundWalletWithCard()" [nzLoading]="isConfirmLoading">Submit</button>
    </ng-template>
</nz-modal>


<!--  Token Modal-->
<nz-modal [(nzVisible)]="tokenVisible" nzTitle="Enter Token" (nzOnCancel)="handleTokenCancel()">

    <ng-container *nzModalContent>
        <form [formGroup]="fundWalletForm">
            <div class="col-12">
                <div class="form-group float-label active">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <input type="password" formControlName="otp" class="form-control mt-4 mb-2" placeholder="Enter token">
                        </div>
                    </div>
                    <label class="form-control-label mt-4 mb-2">Token</label>
                </div>
            </div>
        </form>
    </ng-container>

    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleTokenCancel()">Cancel</button>
        <button nz-button nzType="primary" [nzLoading]="isLoadingBtn" (click)="submitCardToken()">Submit</button>
    </div>
</nz-modal>