<div class="main-container">
    <div class="container">
        <h5 class="text-center mt-3 mb-4">
            Change Your Password !!!
        </h5>
        <form [formGroup]="changePasswordForm">
            <div class="card mb-4">
                <div class="card-header">
                    <h6 class="subtitle mb-0">
                        <div class="avatar avatar-40 bg-primary-light text-primary rounded"><span class="material-icons vm">lock</span></div>
                        Change password
                    </h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="az-form-group mt-3">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control>
                                        <label class="form-label" style="font-weight: 600;">Old Password</label>
                                        <input type="password" formControlName="currentPassword" nz-input placeholder="Old Password" />
                                        <div *ngIf="f.currentPassword.touched && f.currentPassword.invalid" class="mt-1" style="color: red;">
                                            <div *ngIf="f.currentPassword.errors.required">Old password is required*.</div>
                                        </div>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="az-form-group mt-3">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control>
                                        <label class="form-label" style="font-weight: 600;">New Password</label>
                                        <input type="password" formControlName="newPassword" nz-input placeholder="New Password" />
                                        <div *ngIf="f.newPassword.touched && f.newPassword.invalid" class="mt-1" style="color: red;">
                                            <div *ngIf="f.newPassword.errors.required">Old password is required*.</div>
                                        </div>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="az-form-group mt-3">
                                <nz-form-item style="margin-bottom: 9px !important;">
                                    <nz-form-control>
                                        <label class="form-label" style="font-weight: 600;">Confirm New Password</label>
                                        <input type="password" formControlName="newConfirmPassword" nz-input placeholder="Confirm New Password" />
                                        <div *ngIf="f.newConfirmPassword.touched && f.newConfirmPassword.invalid" class="mt-1" style="color: red;">
                                            <div *ngIf="f.newConfirmPassword.errors.required">Confirm New password is required*.</div>
                                            <div *ngIf="f.newConfirmPassword.errors.confirmedValidator">New Password and Confirm Password must be match*.</div>
                                        </div>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button nz-button nzBlock type="submit" nzType="primary" [disabled]="!changePasswordForm.valid" (click)="submitChangePassword()" [nzLoading]="isLoadingBtn" style="border-top-left-radius: 50px; border-top-right-radius: 50px; border-bottom-left-radius: 50px; border-bottom-right-radius: 50px;">Reset Password</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- footer-->
<div class="footer">
    <div class="row no-gutters justify-content-center">
        <div class="col-auto">
            <a href="index.html" class="active">
                <i class="material-icons">home</i>
                <p>Home</p>
            </a>
        </div>
        <div class="col-auto">
            <a href="analytics.html" class="">
                <i class="material-icons">insert_chart_outline</i>
                <p>Analytics</p>
            </a>
        </div>
        <div class="col-auto">
            <a href="wallet.html" class="">
                <i class="material-icons">account_balance_wallet</i>
                <p>Wallet</p>
            </a>
        </div>
        <div class="col-auto">
            <a href="shop.html" class="">
                <i class="material-icons">shopping_bag</i>
                <p>Shop</p>
            </a>
        </div>
        <div class="col-auto">
            <a href="profile.html" class="">
                <i class="material-icons">account_circle</i>
                <p>Profile</p>
            </a>
        </div>
    </div>
</div>
