<!-- footer-->
<div class="footer">
    <div class="row no-gutters justify-content-center">
        <div class="col-auto">
            <a (click)="homeClick()">
                <i class="material-icons">home</i>
                <p>Home</p>
            </a>
        </div>
        <div class="col-auto">
            <a routerLink="/app/bill-payment" class="">
                <i class="material-icons">credit_card_outline</i>
                <p>Payment</p>
            </a>
        </div>
        <div class="col-auto">
            <a routerLink="/app/fund-wallet" class="">
                <i class="material-icons">account_balance_wallet</i>
                <p>Wallet</p>
            </a>
        </div>
        <div class="col-auto">
            <a routerLink="/app/fund-transfer" class="">
                <i class="material-icons">send</i>
                <p>Send</p>
            </a>
        </div>
        <div class="col-auto">
            <a routerLink="/app/profile" class="">
                <i class="material-icons">account_circle</i>
                <p>Profile</p>
            </a>
        </div>
    </div>
</div>